.product-container {
    width: 70%;
    background: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem 2.5rem 2rem 0;
}

.productCardContainer {
    display: flex;
    flex-direction: row;
    border: 1.2px solid lightgrey;
    max-width: 90%;
    margin-right: auto;
    overflow-x: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 3px;
}

.productCard {
    width: 18rem;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    cursor: pointer;
}

.productImage {
    height: 15rem;
}

.productCard:hover {
    box-shadow: 0px 10px 20px 5px rgba(137, 137, 137, 0.5);
    transform: translateY(-1px);
}

.specific-product-section {
    display: flex;
}

.product-header {
    writing-mode: vertical-rl;
    text-orientation: upright;
    color: #fcb69f;
}

.food-container {
    margin-bottom: 2rem;
}

.page-title {
    height: 6rem;
    width: 70%;
    margin-right: auto;
    margin-left: auto;
    border-bottom: none;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    margin-bottom: -1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.5);
}

.title {
    color: #fcb69f;
}

.expired-toggle {
    color: gray;
    padding-bottom: 0.5rem;
}

.form-check-input:checked {
    border-color: #fcb69f !important;
    background-color: #fcb69f !important;
}

.form-check-input:focus {
    border-color: white !important;
    box-shadow: 0 0 0 0.25rem rgba(252, 182, 159, 0.25) !important;
}
