.drinkHeader {
    margin-top: 3rem;
}

.productCardContainer {
    display: flex;
    flex-direction: row;
    border: 1.6px solid grey;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    overflow-x: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.productCard {
    width: 18rem;
    margin-top: 1rem;
    margin-left: 2rem;
    cursor: pointer;
}

.productImage {
    height: 20rem;
}
